<!DOCTYPE html>
<html ng-app="chat">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.united.css">
  <link rel="stylesheet" href="css/flags.css">
  <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
</head>
<body ng-controller="ChatAppCtrl" ng-cloak>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" ng-click="about()">HerwoodChat</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text online" ng-if='status === "online"'>{{ status }}</p><p class="navbar-text offline" ng-if='status === "offline"'>{{ status }}</p></li>
          <li class="dropdown" ng-show="joined">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ peopleCount }} online <b class="caret" ng-if="peopleCount > 0"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="user in users"><p class="black">{{ user.name }} <span ng-if="user.countrycode"><img class="flag flag-{{user.countrycode}}"></span> <i class="fa fa-{{user.device}}"></i></p></li>
            </ul>
          </li>
          <li class="dropdown" ng-show="joined">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ roomCount }} room<span ng-if="roomCount  === 0 || roomCount > 1">s</span> <b class="caret" ng-if="roomCount > 0"></b></a>
            <ul class="dropdown-menu">
              <li ng-repeat="room in rooms">
                <form class="form-inline" role="form"><div class="form-group"><p class="white">{{ room.name }}</p></div><button class="btn btn-success btn-xs" type="submit" ng-click='joinRoom(room)' ng-hide='room.id === user.owns || room.id === user.inroom || user.owns || user.inroom'>Join</button>
                  <button type="submit" ng-click='deleteRoom(room)' class="btn btn-xs btn-danger" ng-show='room.id === user.owns'>Delete</button>
                  <button type="submit" ng-click="leaveRoom(room)" class="btn btn-xs btn-info" ng-hide='room.id === user.owns || !user.inroom || user.owns || user.inroom !== room.id'>Leave</button></form>
                </li>
              </ul>
            </li>
        </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- Begin page content -->
    <div class="container" ng-show="!joined">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="username">Name: </label>
          <input type="text" class="form-control" name="username" id="username" ng-model="username" placeholder="Enter desired name">
        </div>
        <button type="submit" class="btn btn-default btn-sm" ng-click='joinServer()'>Enter chat</button>
      </form>
      <small  ng-if="error" class="text-danger">{{ error.join }}</small> <small  ng-if="suggestedUsername" class="text-info" ng-click="setUsername(suggestedUsername)">How about <span class="text-success" style="cursor: pointer;">{{ suggestedUsername }}</a>?</small>
    </div>
    <div ng-hide="!joined" class="container" >
      <p >Hello {{ user.name }}. <span  ng-if="user.owns">You own a room: <strong>{{ user.roomname }}</strong>.</span> <span  ng-if="!user.owns && user.inroom">You have joined a room: <strong>{{ user.roomname }}</strong>.<br> You can create your own room as well (but you need to leave the current one first)
      </span><br>
      <small ng-if="user.owns">You can remove your room by clicking delete in drop-down menu in the top right corner.</small></p>
      <p ng-show="!user.inroom">Create a chat room or join one (top right corner).
        <div id="createroom">
          <form class="form-inline" role="form" ng-hide="user.owns && user.inroom">
            <div class="form-group">
              <label class="sr-only" for="roomname">Room name: </label>
              <input type="text" placeholder="Enter room name" class="form-control" ng-model="roomname" name="roomname" id="roomname">
            </div>
            <button type="submit" class="btn btn-default btn-sm" ng-click="createRoom()">Create room</button>
            <small  ng-if="error" class="text-danger">{{ error.create }}</small>
          </form>
        </div>
        <div id="chatpanel" ng-show="user.inroom" >
          <div id="chat">
            <form class="form-inline" role="form" ng-show="user.owns || user.inroom">
              <div class="form-group">
                <label class="sr-only" for="message">Message: </label>
                <input type="text" placeholder="Enter message" class="form-control" ng-model="message" name="message" id="message" ng-keypress="typing($event, user.inroom)" on-focus="focus(true)" on-blur="focus(false)">
              </div>
              <button type="submit" class="btn btn-default btn-sm" ng-click='send()'>Send message</button>
            </form>
            <small  ng-if="error" class="text-danger">{{ error.send }}</small>

          </div>
          <div class="row">
            <div class="col-lg-6">
              <div id="messages">
                <ul>
                  <li class="list-unstyled" ng-repeat="message in messages track by $index"  autoscroll ng-class="{dark: $index % 2 === 0}"><strong>{{ message.name }}</strong>: {{ message.message }}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div id="sidebar">
                <ul ng-if="isTyping">
                  <li  ng-repeat="person in typingPeople track by $index" class="text-muted list-unstyled"><small>{{ person }} is typing</small></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted"><a href="https://github.com/jykae/HerwoodChat" target="_blank">HerwoodChat</a> is a fork of <a href="https://github.com/tamaspiros/AngularChat" target="_blank">AngularChat</a>.</p>
    </div>
  </div>

  <!-- about modal -->
  <script type="text/ng-template" id="aboutModal" />
  <div class="modal-header">
    <h3>About HerwoodChat</h3>
  </div>
  <div class="modal-body">
    <p>Hello and thanks for visiting HerwoodChat.</p>
    <p>This is a learning project for testing AngularJS and Socket.IO technologies.</p>
    <p>First, please enter your username. Once you've done this you have two options. You can create a room or you can join an already existing one.</p>
    <p>Please note that once you've joined a room you can't create one (basically you can be part of one room at one time). Also note that if you're a room owner and you disconnect from the server, delete or leave your room all other participants will be removed from the room as well.</p>
    <p>If you're interested in the code behind this project, please go to: <a href="https://github.com/jykae/HerwoodChat" target="_blank">https://github.com/jykae/HerwoodChat</a></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning btn-sm cancel" ng-click="cancel()">Close</button>
  </div>
</div>
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="components/jquery/dist/jquery.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>
</body>
</html>
